
{% load static %}

<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

	<title>Book House 📚🏠</title>
</head>
<body>

<!-- Logo Starts -->
	<nav class="navbar navbar-expand-sm">
		<!-- Brand/logo -->
  		<a href="/book-store"><img alt="" src="https://i.pinimg.com/564x/8c/64/69/8c64695ea89ddb51f9b53fa9dfe315e3.jpg" width="85"></a>
  	</nav>
<!-- Logo Ends -->

<div class="container-fluid">
<!-- Registartion Form Starts--> 
  	<div class="container">

  		<h2>Sign Up</h2><br>

		<form action = "" method = "post">

			{% csrf_token %}

			<!--First Name-->
		  <label for="FirstName">First Name:</label>
			<input type="FirstName" name="FirstName" placeholder="First Name"><br><br>

			<!--Last Name-->
			<label for="LastName">Last Name:</label>
			<input type="LastName" name="LastName" placeholder="Last Name"><br><br>

			<!--Username-->
			<label for="UserName">Username:</label>
			<input type="UserName" name="UserName" placeholder="User Name"><br><br>

			<!--Password-->
			<label for="PassWord1">Password:</label>
			<input type="PassWord1" name="PassWord1" placeholder="Password1"><br><br>

      <label for="PassWord2">Confirm Password:</label>
      <input type="PassWord2" name="PassWord2" placeholder="Password2"><br><br>

			<!--Save Button-->
			<button type="submit">Sign Up</button> 
      <button class="button"><a href="/book-store">Go Back</a></button>
           
		</form>
	</div>
<!-- Registartion Form Ends-->                


<!-- Footer Starts -->                
  <div class="container-fluid">
    <div class = "row border bg-secondary">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <h3>Contact Us</h3>
            <div class="list-group">
              <p>111 New St</p>
              <p>New York NY 1234</p>
            </div>
      </div>
  <!--Email Sunscribe-->
      <div class="col-lg-4 col-md-6 col-sm-6">
        <input type="text" placeholder="Email address" name="mail" required>
        <input type="submit" value="Subscribe">
      </div>
  <!--Contact Us-->
      <div class="col-lg-4 col-md-6 col-sm-6">
        <ul class="list-inline">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-instagram"></a>
        </ul>
      </div>
      <hr/>
      <p class="copyright">Copyright @Bhakti Patel</p>
    </div>
    </div>
</div>
<!-- Footer Ends-->                


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</body>
</html>